.App-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title {
    margin: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputs > input {
    margin: 3px;
    width: 350px;
}

.inputs > button {
    margin: 3px;
    width: 350px;
}

.status {
    margin: 10px;
}