.App-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title {
    margin-bottom: 50px;
}

.content {
    display: flex;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}

.inputs>input {
    margin: 3px;
    width: 350px;
}

.inputs>button {
    margin: 3px;
    width: 350px;
}

.status {
    margin: 10px;
}

select {
    height: 40px;
    width: 350px;
}

#selector {
    width: 350px;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px 50px;
}

thead,
tbody {
    display: block;
}

tbody {
    overflow-y: scroll;
    height: 300px;
}